*.o
*.a
auto-ccld.sh
compile
eratspeed
find-systype
hasgethr.h
hasrdtsc.h
int64.h
load
make-compile
make-load
make-makelib
makelib
primegaps
primegaps.0
primegen.0
primegen.h
primes
primes.0
primespeed
primespeed.0
systype
uint32.h
uint64.h
libprimegen.so

